@media (max-width: 768px)
	#site-header
		.desktop-logo
			display: none

		.mobile-logo
			display: block

		nav
			display: none

		.menu-icon
			display: block
			float: right

	#recent-work
		&.recent-work-one
			h3
				font-size: 28px

			.recent-work-image
				width: 100%
				left: auto

		&.recent-work-two
			.recent-work-image
				width: 	100%
				left: auto